= content_for :title, 'Главное'

.container
  .logo

  %h2.page-title Главное
  .feed
    - @docs.each do |doc|
      = render 'shared/mobile/doc_item', doc: doc
  .text-center
    = link_to 'Все новости', '/news'
  .divider

  %h2.page-title События
  .feed
    - @events.each do |doc|
      = render 'shared/mobile/doc_item', doc: doc
  .text-center
    = link_to 'Все события', '/afisha'
  .divider

  %h2.page-title Статьи
  .feed
    - @articles.each do |doc|
      = render 'shared/mobile/doc_item', doc: doc, date_format: "%d.%m"
