= content_for :title, 'Главное'

- if (banner = ad_code('mobile_horizontal_top')).present?
  .l-cols.banner-horizontal-top
    = banner.html_safe

  :plain
    <script type="text/javascript">
      $('.banner-horizontal-top').bind('DOMSubtreeModified', function () {
        $('.banner-horizontal-top iframe').attr('width', '100%')
        $('.banner-horizontal-top iframe').attr('height', '')
        $('.banner-horizontal-top img').attr('style', '')
        $('.banner-horizontal-top img').attr('width', window.innerWidth)
      });
    </script>

.container
  .logo

  %h2.page-title Главное
  .feed
    - @docs.each do |doc|
      = render 'shared/mobile/doc_item', doc: doc
  .text-center
    = link_to 'Все новости', '/news'
  .divider

  %h2.page-title События
  .feed
    - @events.each do |doc|
      = render 'shared/mobile/doc_item', doc: doc
  .text-center
    = link_to 'Все события', '/afisha'
  .divider

  %h2.page-title Статьи
  .feed
    - @articles.each do |doc|
      = render 'shared/mobile/doc_item', doc: doc, date_format: "%d.%m"
