%h1= 'Блоки футера'

= form_for [:admin, @footer_block] do |f|
  = error_messages_for :footer_block, object: @footer_block
  
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :content, 'Содержание'
    = f.text_area :content

  .form-group
    = f.submit 'Сохранить', class: 'btn btn-default'
