= content_for :title, @global_rubric.title

.container
  = render 'shared/mobile/doc'

  .doc-subheader Читайте по теме
  .feed
    - if @doc.similar_docs.present?
      - @doc.similar_docs.limit(5).each do |doc|
        = render 'shared/mobile/doc_item', doc: doc

  - if @doc.tags.present?
    .text-center
      = link_to "Читайте все статьи по теме", tag_path(@doc.tags.first)

  .divider

.container
  - if (banner = ad_code('mobile_doc_text_top')).present?
    .l-cols.banner-doc-text-top
      = banner.html_safe

    :plain
      <script type="text/javascript">
        var el = $('.banner-doc-text-top iframe')
        left_padding = (el.parent().width() - el.width()) / 2
        $('.banner-doc-text-top iframe').attr('style', "padding-left: " + left_padding + "px" )
      </script>


  .doc-subheader Главное
  .feed
    - @docs.each do |doc|
      = render 'shared/mobile/doc_item', doc: doc
      
  .text-center
    = link_to 'Все новости', '/news'

.container
  - if (banner = ad_code('mobile_doc_text_top')).present?
    .l-cols.banner-doc-text-top
      = banner.html_safe

    :plain
      <script type="text/javascript">
        var el = $('.banner-doc-text-top iframe')
        left_padding = (el.parent().width() - el.width()) / 2
        $('.banner-doc-text-top iframe').attr('style', "padding-left: " + left_padding + "px" )
      </script>
