- if controller_name != 'main'
  .b-docs-item__category
    = link_to doc.rubric.title, doc.rubric.url, class: 'b-docs-item__category-link'
= link_to doc.title, doc.approved ? doc.url : doc.preview_secret_url, class: 'b-docs-item__title'
.g-aux.l
  %time.g-aux__item.date{datetime: Russian::strftime(doc.created_at, '%Y-%m-%d')}
    = doc.created_at.strftime('%d.%m.%Y')
  .g-aux__item.views
    = doc.page_views
  .g-aux__item.comments
    = render partial: 'templates/blocks/comments_counter_code', locals: {doc: doc}
