%table.table.table-bordered
  %thead
    %th= DocRubric.human_attribute_name :id
    %th= DocRubric.human_attribute_name :title
    %th= DocRubric.human_attribute_name :title
    %th= DocRubric.human_attribute_name :global_rubric_id
    %th= 'Действия'
  - doc_rubrics.each do |rubric|
    %tr
      %td= rubric.id
      %td= rubric.title
      %td= rubric.link
      %td= rubric.global_rubric.try(:title)
      %td
        %ul.admin_actions
          %li= link_to 'Редактировать', edit_admin_doc_rubric_path(rubric)
          %li= link_to 'Удалить', admin_doc_rubric_path(rubric), :method => :delete, :confirm => 'Вы уверены?'
          %li= link_to_seos rubric
