.header__main
  / логотип
  .header__logo.logo
    %a.logo__link{:href => root_path}
      %svg.logo__img{:fill => "none", :height => "50", :viewbox => "0 0 198 50", :width => "198", :xmlns => "http://www.w3.org/2000/svg"}
        %g{"clip-path" => "url(#clip0_3_11)"}
          %path{:d => "M97.4811 37.7914C97.4856 38.3385 97.3812 38.881 97.1738 39.3875C96.9665 39.894 96.6605 40.3543 96.2734 40.7417C95.8864 41.1291 95.4261 41.4358 94.9193 41.6442C94.4125 41.8525 93.8692 41.9582 93.3211 41.9552C92.7617 41.9675 92.2056 41.8655 91.687 41.6553C91.1685 41.4452 90.6986 41.1314 90.306 40.7332C89.9072 40.3526 89.5916 39.8938 89.379 39.3855C89.1664 38.8773 89.0614 38.3307 89.0705 37.78V11.394C89.0602 10.8448 89.1647 10.2995 89.3774 9.79299C89.5902 9.28644 89.9065 8.82976 90.306 8.45214C90.693 8.06 91.1559 7.75048 91.6664 7.54236C92.1769 7.33424 92.7244 7.23186 93.2758 7.24146C93.8267 7.23241 94.3739 7.3333 94.8852 7.53821C95.3966 7.74312 95.8618 8.04793 96.2535 8.43473C96.6452 8.82154 96.9556 9.28255 97.1664 9.79072C97.3772 10.2989 97.4842 10.844 97.4811 11.394V37.7914ZM93.4685 1.17067e-06C91.9517 -0.0182356 90.4473 0.273497 89.0476 0.857252C87.648 1.44101 86.3829 2.30444 85.33 3.39443C84.2315 4.4524 83.3628 5.72458 82.7779 7.13189C82.1929 8.5392 81.9041 10.0516 81.9295 11.575V37.8706C81.9119 39.3896 82.2043 40.8962 82.7889 42.2988C83.3735 43.7013 84.2381 44.9703 85.33 46.0285C86.3835 47.1271 87.6535 47.9959 89.0601 48.5801C90.4667 49.1643 91.9793 49.4513 93.5025 49.4229C95.0222 49.4244 96.5272 49.1266 97.9314 48.5464C99.3355 47.9662 100.611 47.1152 101.685 46.042C102.759 44.9688 103.611 43.6946 104.19 42.2924C104.77 40.8902 105.067 39.3875 105.064 37.8706V11.5524C105.084 10.0314 104.793 8.52238 104.208 7.1177C103.623 5.71302 102.757 4.44223 101.664 3.38312C100.603 2.28829 99.3279 1.42221 97.9184 0.838386C96.5089 0.254559 94.9944 -0.0346274 93.4685 -0.0113136", :fill => "#C91214"}
          %path{:d => "M127.972 0.577057V33.0165L118.304 0.577057H110.12V48.8459H117.408V17.9339L127.428 48.8459H135.261V0.577057H127.972Z", :fill => "#C91214"}
          %path{:d => "M97.4811 37.7914C97.4856 38.3385 97.3812 38.881 97.1738 39.3875C96.9665 39.894 96.6605 40.3543 96.2734 40.7417C95.8864 41.1291 95.4261 41.4358 94.9193 41.6442C94.4125 41.8525 93.8692 41.9582 93.3211 41.9552C92.7617 41.9675 92.2056 41.8655 91.687 41.6553C91.1685 41.4452 90.6986 41.1314 90.306 40.7332C89.9072 40.3526 89.5916 39.8938 89.379 39.3855C89.1664 38.8773 89.0614 38.3307 89.0705 37.78V11.394C89.0602 10.8448 89.1647 10.2995 89.3774 9.79299C89.5902 9.28644 89.9065 8.82976 90.306 8.45214C90.693 8.06 91.1559 7.75048 91.6664 7.54236C92.1769 7.33424 92.7244 7.23186 93.2758 7.24146C93.8267 7.23241 94.3739 7.3333 94.8852 7.53821C95.3966 7.74312 95.8618 8.04793 96.2535 8.43473C96.6452 8.82154 96.9556 9.28255 97.1664 9.79072C97.3772 10.2989 97.4842 10.844 97.4811 11.394V37.7914ZM93.4685 1.17067e-06C91.9517 -0.0182356 90.4473 0.273497 89.0476 0.857252C87.648 1.44101 86.3829 2.30444 85.33 3.39443C84.2315 4.4524 83.3628 5.72458 82.7779 7.13189C82.1929 8.5392 81.9041 10.0516 81.9295 11.575V37.8706C81.9119 39.3896 82.2043 40.8962 82.7889 42.2988C83.3735 43.7013 84.2381 44.9703 85.33 46.0285C86.3835 47.1271 87.6535 47.9959 89.0601 48.5801C90.4667 49.1643 91.9793 49.4513 93.5025 49.4229C95.0222 49.4244 96.5272 49.1266 97.9314 48.5464C99.3355 47.9662 100.611 47.1152 101.685 46.042C102.759 44.9688 103.611 43.6946 104.19 42.2924C104.77 40.8902 105.067 39.3875 105.064 37.8706V11.5524C105.084 10.0314 104.793 8.52238 104.208 7.1177C103.623 5.71302 102.757 4.44223 101.664 3.38312C100.603 2.28829 99.3279 1.42221 97.9184 0.838386C96.5089 0.254559 94.9944 -0.0346274 93.4685 -0.0113136", :fill => "#FF0000"}
          %path{:d => "M127.972 0.577057V33.0165L118.304 0.577057H110.12V48.8459H117.408V17.9339L127.428 48.8459H135.261V0.577057H127.972Z", :fill => "#FF0000"}
          %path{:d => "M146.414 41.6044H139.126V48.8798H146.414V41.6044Z", :fill => "#17174D"}
          %path{:d => "M160.957 0.0792034C159.435 0.0609866 157.926 0.352589 156.521 0.936206C155.116 1.51982 153.844 2.38321 152.785 3.47364C151.688 4.53284 150.82 5.80524 150.235 7.21226C149.65 8.61928 149.361 10.1311 149.384 11.6542V37.9498C149.336 39.4935 149.598 41.0312 150.157 42.4717C150.715 43.9121 151.558 45.2259 152.635 46.335C153.711 47.4441 155 48.3259 156.425 48.9281C157.85 49.5303 159.382 49.8407 160.929 49.8407C162.476 49.8407 164.008 49.5303 165.432 48.9281C166.857 48.3259 168.146 47.4441 169.223 46.335C170.3 45.2259 171.143 43.9121 171.701 42.4717C172.259 41.0312 172.522 39.4935 172.474 37.9498V31.2175H164.924V37.8706C164.932 38.4193 164.826 38.9638 164.614 39.4699C164.401 39.9761 164.086 40.4331 163.689 40.8124C163.302 41.2045 162.839 41.5141 162.329 41.7222C161.818 41.9303 161.27 42.0327 160.719 42.0231C160.172 42.0261 159.63 41.9207 159.124 41.7131C158.618 41.5055 158.158 41.1997 157.771 40.8135C157.384 40.4273 157.078 39.9684 156.87 39.4632C156.662 38.958 156.556 38.4167 156.559 37.8706V11.4732C156.548 10.9226 156.65 10.3756 156.859 9.86586C157.067 9.35606 157.378 8.89423 157.772 8.50871C158.15 8.10985 158.608 7.79415 159.115 7.58179C159.623 7.36942 160.169 7.26507 160.719 7.2754C161.272 7.26674 161.822 7.37175 162.332 7.58392C162.843 7.79608 163.305 8.11087 163.689 8.50871C164.086 8.8931 164.4 9.35423 164.613 9.86392C164.825 10.3736 164.931 10.9212 164.924 11.4732V17.1306H172.474V11.6203C172.492 10.1011 172.201 8.59403 171.616 7.19131C171.031 5.78859 170.166 4.51971 169.073 3.46232C168.018 2.36541 166.748 1.49772 165.342 0.913627C163.935 0.32953 162.423 0.0416058 160.9 0.0678886", :fill => "#17174D"}
          %path{:d => "M198 0.610992H176.713V7.93165L190.179 7.88639L176.713 41.5592V48.8459H198V41.6044H184.579L198 7.93165V0.610992Z", :fill => "#17174D"}
          %path{:d => "M146.414 41.6044H139.126V48.8798H146.414V41.6044Z", :fill => "#0000FF"}
          %path{:d => "M160.957 0.0792034C159.435 0.0609866 157.926 0.352589 156.521 0.936206C155.116 1.51982 153.844 2.38321 152.785 3.47364C151.688 4.53284 150.82 5.80524 150.235 7.21226C149.65 8.61928 149.361 10.1311 149.384 11.6542V37.9498C149.336 39.4935 149.598 41.0312 150.157 42.4717C150.715 43.9121 151.558 45.2259 152.635 46.335C153.711 47.4441 155 48.3259 156.425 48.9281C157.85 49.5303 159.382 49.8407 160.929 49.8407C162.476 49.8407 164.008 49.5303 165.432 48.9281C166.857 48.3259 168.146 47.4441 169.223 46.335C170.3 45.2259 171.143 43.9121 171.701 42.4717C172.259 41.0312 172.522 39.4935 172.474 37.9498V31.2175H164.924V37.8706C164.932 38.4193 164.826 38.9638 164.614 39.4699C164.401 39.9761 164.086 40.4331 163.689 40.8124C163.302 41.2045 162.839 41.5141 162.329 41.7222C161.818 41.9303 161.27 42.0327 160.719 42.0231C160.172 42.0261 159.63 41.9207 159.124 41.7131C158.618 41.5055 158.158 41.1997 157.771 40.8135C157.384 40.4273 157.078 39.9684 156.87 39.4632C156.662 38.958 156.556 38.4167 156.559 37.8706V11.4732C156.548 10.9226 156.65 10.3756 156.859 9.86586C157.067 9.35606 157.378 8.89423 157.772 8.50871C158.15 8.10985 158.608 7.79415 159.115 7.58179C159.623 7.36942 160.169 7.26507 160.719 7.2754C161.272 7.26674 161.822 7.37175 162.332 7.58392C162.843 7.79608 163.305 8.11087 163.689 8.50871C164.086 8.8931 164.4 9.35423 164.613 9.86392C164.825 10.3736 164.931 10.9212 164.924 11.4732V17.1306H172.474V11.6203C172.492 10.1011 172.201 8.59403 171.616 7.19131C171.031 5.78859 170.166 4.51971 169.073 3.46232C168.018 2.36541 166.748 1.49772 165.342 0.913627C163.935 0.32953 162.423 0.0416058 160.9 0.0678886", :fill => "#0000FF"}
          %path{:d => "M198 0.610992H176.713V7.93165L190.179 7.88639L176.713 41.5592V48.8459H198V41.6044H184.579L198 7.93165V0.610992Z", :fill => "#0000FF"}
          %path{:d => "M13.0466 31.5343H6.94836L13.0466 16.2593V31.5343ZM20.403 0.588364H13.0353L0 31.5343V38.9341H13.0466V49.4569H20.403V38.9341H25.1297V31.5343H20.403V0.588364Z", :fill => "#212147"}
          %path{:d => "M37.6662 38.4703L38.9924 36.4789C40.5793 34.0575 41.7771 32.2773 42.5856 31.1383C44.6874 28.3301 46.5816 25.3729 48.2531 22.2901C49.731 19.2938 50.5062 16.001 50.5201 12.6612C50.5478 9.50643 49.3256 6.46848 47.1196 4.20911C46.0742 3.04515 44.7901 2.11937 43.3546 1.49463C41.919 0.869888 40.3656 0.560808 38.7997 0.588378C37.2359 0.521447 35.6748 0.772815 34.2113 1.32719C32.7479 1.88156 31.4128 2.72735 30.2871 3.81309C27.7934 6.25708 26.5466 9.79106 26.5466 14.415V15.7049H33.801V13.838C33.7806 12.8848 33.9263 11.9353 34.2317 11.0319C35.0932 8.66713 36.4987 7.47908 38.607 7.47908C39.28 7.46271 39.9475 7.60236 40.5572 7.88703C41.1669 8.17171 41.7022 8.59366 42.1209 9.11972C42.9678 10.1944 43.4092 11.5321 43.3678 12.8989C43.321 14.9334 42.8541 16.9364 41.9962 18.7825C40.604 21.8191 38.9024 24.7045 36.9181 27.3931C34.5264 30.7875 32.7582 33.2202 31.636 34.759L29.7204 37.5198C29.097 38.425 28.5869 39.251 28.0315 40.0091C27.4144 40.8562 26.8757 41.7576 26.4219 42.702V49.4908H49.8741V42.2494H35.3992C35.4711 42.0017 35.578 41.7655 35.7166 41.5479C36.1587 40.7898 36.8501 39.7715 37.6662 38.4703Z", :fill => "#212147"}
          %path{:d => "M68.4295 41.231C68.0393 41.6338 67.5703 41.9522 67.0516 42.1663C66.5329 42.3804 65.9756 42.4857 65.4144 42.4757C64.8581 42.4865 64.3056 42.3814 63.7923 42.1671C63.279 41.9528 62.8162 41.634 62.4333 41.231C62.2588 41.0563 62.0995 40.867 61.9572 40.6653L69.6763 22.6974V38.2326C69.6842 38.7909 69.5776 39.3448 69.3632 39.8604C69.1488 40.376 68.831 40.8425 68.4295 41.231ZM62.4333 8.53134C62.8174 8.13004 63.2806 7.81233 63.7936 7.59815C64.3066 7.38397 64.8584 7.27794 65.4144 7.28671C65.9752 7.27932 66.5317 7.38584 67.05 7.5998C67.5683 7.81377 68.0377 8.1307 68.4295 8.53134C68.7364 8.84538 68.9995 9.19933 69.2116 9.58361L61.2091 28.2191V11.5298C61.2009 10.9735 61.3051 10.4213 61.5154 9.90617C61.7258 9.391 62.0379 8.92342 62.4333 8.53134ZM73.927 3.39443C72.8559 2.29083 71.5681 1.41975 70.1444 0.83568C68.7206 0.251608 67.1914 -0.0328865 65.6524 -6.17187e-06C64.1146 -0.0241643 62.588 0.264317 61.1655 0.847877C59.7429 1.43144 58.4542 2.29787 57.3778 3.39443C56.2733 4.4691 55.4015 5.75872 54.8166 7.1834C54.2317 8.60808 53.946 10.1375 53.9773 11.6768V38.3458C53.9837 40.65 54.6723 42.901 55.9565 44.8158C57.2407 46.7305 59.0633 48.2237 61.1951 49.1075C63.3269 49.9914 65.6729 50.2265 67.9382 49.7834C70.2035 49.3402 72.287 48.2386 73.927 46.6169C75.0323 45.5452 75.9047 44.2577 76.4897 42.8347C77.0748 41.4117 77.3599 39.8836 77.3275 38.3458V11.6882C77.3517 10.1531 77.0627 8.62922 76.4781 7.20922C75.8935 5.78923 75.0255 4.50284 73.927 3.42837", :fill => "#212147"}
          %path{:d => "M13.0466 31.5343H6.94836L13.0466 16.2593V31.5343ZM20.403 0.588364H13.0353L0 31.5343V38.9341H13.0466V49.4569H20.403V38.9341H25.1297V31.5343H20.403V0.588364Z", :fill => "#0000FF"}
          %path{:d => "M37.6662 38.4703L38.9924 36.4789C40.5793 34.0575 41.7771 32.2773 42.5856 31.1383C44.6874 28.3301 46.5816 25.3729 48.2531 22.2901C49.731 19.2938 50.5062 16.001 50.5201 12.6612C50.5478 9.50643 49.3256 6.46848 47.1196 4.20911C46.0742 3.04515 44.7901 2.11937 43.3546 1.49463C41.919 0.869888 40.3656 0.560808 38.7997 0.588378C37.2359 0.521447 35.6748 0.772815 34.2113 1.32719C32.7479 1.88156 31.4128 2.72735 30.2871 3.81309C27.7934 6.25708 26.5466 9.79106 26.5466 14.415V15.7049H33.801V13.838C33.7806 12.8848 33.9263 11.9353 34.2317 11.0319C35.0932 8.66713 36.4987 7.47908 38.607 7.47908C39.28 7.46271 39.9475 7.60236 40.5572 7.88703C41.1669 8.17171 41.7022 8.59366 42.1209 9.11972C42.9678 10.1944 43.4092 11.5321 43.3678 12.8989C43.321 14.9334 42.8541 16.9364 41.9962 18.7825C40.604 21.8191 38.9024 24.7045 36.9181 27.3931C34.5264 30.7875 32.7582 33.2202 31.636 34.759L29.7204 37.5198C29.097 38.425 28.5869 39.251 28.0315 40.0091C27.4144 40.8562 26.8757 41.7576 26.4219 42.702V49.4908H49.8741V42.2494H35.3992C35.4711 42.0017 35.578 41.7655 35.7166 41.5479C36.1587 40.7898 36.8501 39.7715 37.6662 38.4703Z", :fill => "#0000FF"}
          %path{:d => "M68.4295 41.231C68.0393 41.6338 67.5703 41.9522 67.0516 42.1663C66.5329 42.3804 65.9756 42.4857 65.4144 42.4757C64.8581 42.4865 64.3056 42.3814 63.7923 42.1671C63.279 41.9528 62.8162 41.634 62.4333 41.231C62.2588 41.0563 62.0995 40.867 61.9572 40.6653L69.6763 22.6974V38.2326C69.6842 38.7909 69.5776 39.3448 69.3632 39.8604C69.1488 40.376 68.831 40.8425 68.4295 41.231ZM62.4333 8.53134C62.8174 8.13004 63.2806 7.81233 63.7936 7.59815C64.3066 7.38397 64.8584 7.27794 65.4144 7.28671C65.9752 7.27932 66.5317 7.38584 67.05 7.5998C67.5683 7.81377 68.0377 8.1307 68.4295 8.53134C68.7364 8.84538 68.9995 9.19933 69.2116 9.58361L61.2091 28.2191V11.5298C61.2009 10.9735 61.3051 10.4213 61.5154 9.90617C61.7258 9.391 62.0379 8.92342 62.4333 8.53134ZM73.927 3.39443C72.8559 2.29083 71.5681 1.41975 70.1444 0.83568C68.7206 0.251608 67.1914 -0.0328865 65.6524 -6.17187e-06C64.1146 -0.0241643 62.588 0.264317 61.1655 0.847877C59.7429 1.43144 58.4542 2.29787 57.3778 3.39443C56.2733 4.4691 55.4015 5.75872 54.8166 7.1834C54.2317 8.60808 53.946 10.1375 53.9773 11.6768V38.3458C53.9837 40.65 54.6723 42.901 55.9565 44.8158C57.2407 46.7305 59.0633 48.2237 61.1951 49.1075C63.3269 49.9914 65.6729 50.2265 67.9382 49.7834C70.2035 49.3402 72.287 48.2386 73.927 46.6169C75.0323 45.5452 75.9047 44.2577 76.4897 42.8347C77.0748 41.4117 77.3599 39.8836 77.3275 38.3458V11.6882C77.3517 10.1531 77.0627 8.62922 76.4781 7.20922C75.8935 5.78923 75.0255 4.50284 73.927 3.42837", :fill => "#0000FF"}
        %defs
          %clippath#clip0_3_11
            %rect{:fill => "white", :height => "50", :width => "198"}
  / бургер
  .burger
    %span.burger__item
    %span.burger__item
    %span.burger__item
  / поиск
  .header__search.search
    %form.search__formular{:action => "/search/#{@search_action}", :method => "get", :id => "header_search_form"}
      %input.search__input{:placeholder => "Введите ваш запрос", :name => "search", :type => "search", :id => "search"}
      %button.search__button{:type => "submit"}
        %svg.search__ico{:fill => "none", :height => "50", :viewbox => "0 0 50 50", :width => "50", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M20.7448 39.4657C31.0841 39.4657 39.4657 31.0841 39.4657 20.7448C39.4657 10.4055 31.0841 2.02388 20.7448 2.02388C10.4056 2.02388 2.02393 10.4055 2.02393 20.7448C2.02393 31.0841 10.4056 39.4657 20.7448 39.4657Z", :stroke => "#0000FF", "stroke-width" => "4"}
          %path{:d => "M34.406 34.406L43.4932 43.4932L48.5732 48.5732", :stroke => "#0000FF", "stroke-width" => "4"}
  / account
  .header__account.account
    - if current_user
      - if current_user.avatar.present?
        = link_to "/users/#{current_user.subdomain}", class: 'account__link', style: "margin-right: 10px" do
          = image_tag current_user.avatar.url(:xsmall), size: '27x27'
          %span.link= current_user.fio_or_login
      - else
        = link_to current_user.fio_or_login, "/users/#{current_user.subdomain}", class: 'account__link', style: "margin-right: 10px"
      = link_to 'Выход', '/account/logout', class: 'account__link', method: :delete
    - else
      = link_to 'Вход', new_session_path, class: 'account__link link login js-jump', style: "margin-right: 10px", remote: true, rel: 'nofollow'
      = link_to 'Регистрация', account_signup_path, class: 'account__link link js-jump', remote: true, rel: 'nofollow'
/ %header
/   .b-header__aux
/     .b-header__auth-links
/       - if current_user
/         - if current_user.avatar.present?
/           = link_to "/users/#{current_user.subdomain}", class: 'profile' do
/             = image_tag current_user.avatar.url(:xsmall), size: '27x27'
/             %span.link= current_user.fio_or_login
/         - else
/           = link_to current_user.fio_or_login, "/users/#{current_user.subdomain}", class: 'link'
/         = link_to 'Выход', '/account/logout', class: 'link logout', method: :delete
/       - else
/         = link_to 'Вход', new_session_path, class: 'link login js-jump', remote: true, rel: 'nofollow'
/         = link_to 'Регистрация', account_signup_path, class: 'link js-jump', remote: true, rel: 'nofollow'
/       - cache('current_exchange_rates', expires_in: 3.hour) do
/         - exchange_rate = ExchangeRate.find(:first, order: 'updated_at DESC')
/         - if exchange_rate
/           .exchange_rates
/             .currency
/               EUR
/             .rate
/               = exchange_rate.eur_czk_rate.round(2)
/             .currency
/               USD
/             .rate
/               = exchange_rate.usd_czk_rate.round(2)
/             .currency
/               RUB
/             .rate
/               = exchange_rate.rub_czk_rate.round(2)
/             .currency
/               UAH
/             .rate
/               = exchange_rate.uah_czk_rate.round(2)
/     .b-header__search.js-search
/       = form_tag "/search/#{@search_action}", id: 'header_search_form', method: :get, class: 'b-search__form' do
/         .b-search__container
/           .b-search__magnifier-area
/           = search_field_tag :search, '', title: 'Поиск по сайту', placeholder: 'Поиск по сайту', class: 'b-search__input'

/     .b-header__servises
/       = link_to 'Энциклопедия', '/dictionaries/attractions', class: 'link'
/       = link_to 'Карта', '/map', class: 'link'
/       = link_to 'Погода', '/weather', class: 'link'

/   - current_weather = get_current_weather
/   - if current_weather && current_weather['weather'] && current_weather['main']
/     .header-current-weather
/       = image_tag get_icon_url(current_weather)
/       = "#{current_weather['main']['temp'].try(:round)} °C" if current_weather['main']['temp'].present?

/   = link_to image_tag('header_logo.png', size: '257x73', alt: 'Городской информационный портал Праги и Чехии 420on.cz'), root_path, class: 'b-header__logo', title: "Размер 200х100"

/   .b-header__promo
/     = ad_code('logo').try(:html_safe)
