.b-clean-form.s-gray-box
  %h3.s-gray-box__title
    Пароль для подтверждения
    -# #{link_to @site.domain, root_url}
  .s-gray-box__additional-line
    Пользователь с email
    %span.uline= @user.email
    уже зарегистрирован в системе, пожалуйста введите пароль,
    что бы мы могли ассоциировать пользователя с учетной записью #{session["oauth_data"]["provider"]}.
  .s-gray-box__content.without-social-auth
    .s-gray-box__content__block.with-form
      = form_for @user, :url => "/confirm_oauth_sign_up" do |f|
        .error= error_messages_for :user
        .label-line= f.label :password, "Пароль"
        .field-line= f.password_field :password, class: "field"
        %p
        .submit-wrapper
          .button= f.submit "Регистрация", class: "submit"
