%h1= 'Новая ссылка в главном меню'
= form_for [:admin, @main_menu_link] do |f|
  = error_messages_for :main_menu_link, object: @main_menu_link

  .form-group
    = f.label :title
    = f.text_field :title, required: true, placeholder: 'Новости', class: 'form-control'

  .form-group
    = f.label :path
    = f.text_field :path, required: true, placeholder: "/news", class: 'form-control'

  .form-group
    = f.label :position
    = f.text_field :position, placeholder: "1", type: 'number', min: '0', class: 'form-control'

  .form-group
    = f.label :css_class
    = f.text_field :css_class, placeholder: "highlighted", class: 'form-control'

  .form-group
    = f.submit 'Сохранить', class: 'btn btn-default'
