.l-wrapper

  %aside.l-section__aside= render partial: '/search/templates/blocks/right'

  %div.l-section__main

    = render partial: 'search/search_form', locals: {path: "/#{params[:controller]}"}
    = render 'search/menu'
    - unless @results.empty?
      = render 'templates/dynamic/docs_index', docs: @results
    - else
      .b-box По вашему запросу ничего не найдено.

    -#= yandex_direct_code @site
= seo_text @seo





-#.l-page__columns-line
  %aside.l-page__column.left
    = render 'search/templates/blocks/rubric_title'
    .g-box
      = render partial: 'search/search_form', locals: {path: "/#{params[:controller]}"}
      - if @results.present?
        = render partial: "afisha/item", locals: {items: @results}
        = will_paginate_new @results
      - else
        %span.no-info По вашему запросу ничего не найдено.
  %div.l-page__column.right= render partial: "/search/templates/blocks/right"