.l-wrapper.l-content
  .l-page__columns-line
    .l-section__aside
      = render partial: 'shared/adv-aside'

    .l-section__main
      .b-tag
        %div{class: "b-tag__description#{@branding_logo}"}
          .b-tag__description__title
            = @tag.name

        = render 'menu'

        .b-tag__content
          .b-ency.js-loaderByPage
            .b-ency__digest.col1
              - @dictionary_objects.each do |dictionary_object|
                = render partial: 'shared/ency_item', object: dictionary_object
            .g-loader
              =# link_to 'Загрузить ещё статьи', 'javascript:;', data: {page: @dictionary_objects.next_page}, class: 'g-loader__link js-loader'
              = will_paginate @dictionary_objects
= seo_text @seo
