%h1= 'Новое сообщество'
= form_for [:admin, @community] do |f|
  = error_messages_for :community, :object => @community

  .controls
    = f.label :name
    = f.text_field :name

  .controls
    = f.label :logo
    = f.file_field :logo

  = image_tag @community.logo.url(:medium) if @community.logo.present?

  .controls
    = f.label :description
    = f.text_area :description

  .controls
    = f.label :rules
    = f.text_area :rules

  .controls
    = f.label :category_id
    = f.select :category_id, Category.all.map {|c| [c.name, c.id]}

  .controls
    = f.label :user
    = f.text_field :user, value: @community.user.try(:email)
    %p
      id или email пользователя

  .controls
    = f.submit 'Сохранить', :class => 'btn'
