%h1 RSS выгрузки для новостных сайтов

%dl
  %dt Yandex.ru
  %dd= link_to "https://#{@site.domain}/main/yandex_rss", "https://#{@site.domain}/main/yandex_rss"
  %dt Mail.ru
  %dd= link_to "https://#{@site.domain}/main/mailru_rss", "https://#{@site.domain}/main/mailru_rss"
  %dt Rambler.ru
  %dd= link_to "https://#{@site.domain}/main/rambler_rss", "https://#{@site.domain}/main/rambler_rss"