- content_for :head do
  :ruby
    shared_photo_path = doc.shared_photo ? URI.join(root_url, doc.shared_photo.image.url, "?#{doc.shared_photo.updated_at.to_i}")
                                         : (doc.main_photo ? URI.join(root_url, doc.main_photo.image.url(:xxlarge), "?#{doc.main_photo.updated_at.to_i}")
                                                           : URI.join(root_url, path_to_image('v2/default/photo_xxlarge_share.png')))

  = javascript_include_tag '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async: true

  == <meta property='og:site_name' content="Чехия Онлайн 420on.cz" />
  == <meta property='og:title' content="#{doc.title}" />
  == <meta property='og:url' content="#{request.url.force_encoding('UTF-8')}" />
  == <meta property='article:publisher' content="https://www.facebook.com/420on.cz" />
  == <meta property='og:description' content="#{doc.annotation}" />
  == <meta property='og:type' content='article' />
  == <meta property='og:image' content="#{shared_photo_path}" />

  == <meta property='twitter:card' content='summary_large_image' />
  == <meta property='twitter:site'  content='@420on' />
  == <meta property='twitter:title' content="#{doc.title}" />
  == <meta property='twitter:description' content="#{doc.annotation}" />
  == <meta property='twitter:image' content="#{shared_photo_path}" />
  == <meta property='twitter:url' content="#{request.url.force_encoding('UTF-8')}" />

- @breadcrumbs = []
- if @doc
  - @breadcrumbs.push({title: @global_rubric.title, url: "/#{@global_rubric.url}"})
- elsif @event
  - @breadcrumbs.push({title: 'Афиша', url: '/afisha'})

- if @doc
  - @breadcrumbs.push({title: @doc.rubric.title, url: @doc.rubric.url})
- elsif @event
  - @breadcrumbs.push({title: @event.rubric.title, url: @event.rubric.url})

- @breadcrumbs.push({title: doc.title, url: ""})

= render "other/breadcrumbs"

.layout__header.header
  .layout__title.title
    - unless controller_name == 'afisha'
      %span.title__text= doc.global_rubric.title
    - else
      %span.title__text События
  = render "other/partner"
.layout__content
  / ПОСТ
  %section.section
    / section__main
    .section__main
      / columns
      .post
        .post__headline.headline
          .headline__list
            .headline__item
              %span.post__date= Russian::strftime(Time.parse(doc.created_at.to_s), "%d %B")
            .headline__item
              %span.post__time= DateTime.parse(doc.created_at.to_s).strftime("%H:%M")
            .headline__item
              .post__views.views
                %svg.views__ico{:fill => "none", :height => "12", :viewbox => "0 0 20 12", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
                  %g{"clip-path" => "url(#clip0_4_178)"}
                    %path{:d => "M10.0048 11.41C15.2538 11.41 19.5167 8.97997 19.5167 5.99997C19.5167 3.01997 15.2538 0.589966 10.0048 0.589966C4.75593 0.589966 0.483337 2.99997 0.483337 5.99997C0.483337 8.99997 4.74627 11.41 10.0048 11.41Z", :stroke => "#B2B2B2"}
                    %path{:d => "M10.0048 11.5C12.861 11.5 15.1764 9.03757 15.1764 6C15.1764 2.96243 12.861 0.5 10.0048 0.5C7.14865 0.5 4.83325 2.96243 4.83325 6C4.83325 9.03757 7.14865 11.5 10.0048 11.5Z", :stroke => "#B2B2B2"}
                    %path{:d => "M10.0048 8.07998C10.5296 8.06427 11.0271 7.83481 11.3892 7.44153C11.7512 7.04825 11.9485 6.52297 11.9381 5.97998C11.9381 5.44955 11.7344 4.94084 11.3719 4.56577C11.0093 4.19069 10.5176 3.97998 10.0048 3.97998C9.49207 3.97998 9.00033 4.19069 8.63777 4.56577C8.2752 4.94084 8.07152 5.44955 8.07152 5.97998C8.06362 6.52223 8.26174 7.04603 8.62328 7.43874C8.98482 7.83145 9.48089 8.0617 10.0048 8.07998V8.07998Z", :stroke => "#B2B2B2"}
                  %defs
                    %clippath#clip0_4_178
                      %rect{:fill => "white", :height => "12", :width => "20"}
                %span.views__text= doc.page_views
        / .post__author.author
        /   .author__media{:style => "background-image: url('#{user.avatar.avatar}');"}
        /   .author__title.title
        /     - if user.first_name || user.last_name
        /       %span.title__text= "#{user.first_name} #{user.last_name}"
        /     - else
        /       %span.title__text= user.login
        / post main
        .post__main
          = render partial: 'templates/dynamic/doc_aux_inline', locals: {doc: doc}
          .post__header.post__header_secondary.header
            %span.header__title= doc.title
          .post__content= doc.annotation
          - if doc.main_photo
            .source= "Фото: #{doc.main_photo.title}" if doc.main_photo.title.present?
            .b-doc__mainphoto
              %br
              = image_tag @img_domain + doc.main_photo.image.url(:xxlarge), size: '610x415', alt: doc.title, title: doc.title, class: 'cover', itemprop: "image" if doc.main_photo.present?
          .post__content{itemprop: "articleBody"}
            %br
            = article_text(doc)
          - if controller_name == 'afisha'
            .b-event__info
              - if doc.place.present?
                .b-event__info-item>
                  .item__title Место:
                  .item__content= doc.place
              - if doc.start_date.present?
                .b-event__info-item>
                  .item__title Время:
                  .item__content
                    = "#{doc.start_date.strftime('%d.%m.%Y')}"
                    = "#{doc.start_date.strftime('%H:%M')}" if doc.show_time
                    - if doc.start_date.to_date != doc.finish_date.to_date
                      = " - "
                      = "#{doc.finish_date.strftime('%d.%m.%Y')}"
                      = "#{doc.finish_date.strftime('%H:%M')}" if doc.show_time
              - if doc.address.present?
                .b-event__info-item>
                  .item__title Адрес:
                  .item__content= doc.address
              - if doc.price.present?
                .b-event__info-item>
                  .item__title Стоимость:
                  .item__content
                    = doc.price
              - if doc.site_url.present?
                .b-event__info-item>
                  .item__title Сайт:
                  .item__content= link_to doc.site_url, doc.site_url, :rel => 'nofollow'
              - if doc.promote_link.present?
                .b-event__info-item>
                  = link_to 'Купить билеты', doc.promote_link, class: 'g-button primary'
        = render partial: 'templates/dynamic/doc_share_block', locals: { doc: doc }
        
        = render partial: 'shared/tags', locals: {doc: doc}

        - if (banner = ad_code('doc_text_bottom')).present?
          %br
          .l-cols.banner-doc-text-bottom
            = banner.html_safe
          %br
        - if doc.similar_docs.any?
          = render partial: 'shared/relevant', locals: {doc: doc}
        - if doc.approved
          / post chat
          .post__chat.chat
            .g-comments-wrapper.js-comments{data:{class: 'Question', id: doc.id}}
            - if [Doc, Event].include?(doc.class)
              .chat__formular.formular
                = render 'comments/comment_form_full', doc: doc

        - if doc.is_a?(Doc) && doc.similar_docs.present?
          .b-doc__last-news
            .section__header
              .section__title.title
                .title__text Последние новости:
            = render partial: 'news/news_list'

        - if doc.is_a?(Event)
          .b-doc__last-news
            .section__header
              .section__title.title
                .title__text Ближайшие события:
          = render partial: 'afisha/events_list'
        %br
        %br
        / ПОПУЛЯРНОЕ
        = render 'main/main_popular'
/ .l-wrapper

/   %aside.l-section__aside
/     - if ad_code('vertical_top_right')
/       .b-isikhangiso-aside
/         = ad_code('vertical_top_right').html_safe

/     - if controller_name == 'afisha'
/       = link_if_logged 'событие', '/afisha/new'
/     - elsif controller_name == 'docs'
/       = link_if_logged t('.add'), "/#{doc.global_rubric.link}/new"

/     = render 'shared/adv-aside'
/     - if controller_name == 'afisha'
/       = render 'latest_events'

/     = render partial: 'shared/media_photos'

/     - if controller_name != 'afisha'
/       .relap
/         :plain
/           <script id="ol2iN_c3Nc40bXl5">if (window.relap) window.relap.ar('ol2iN_c3Nc40bXl5');</script>

/     -# TODO: Глобализовать популярные новости
/     = render partial: 'shared/rated'
/     = render 'shared/adv-aside-smi2'


/   %div.l-section__main
/     .b-doc
/       .b-doc__lead
/         .b-doc__content{itemscope: true, itemtype: "http://schema.org/NewsArticle"}
/           %meta{itemprop: "datePublished", content: @doc ? @doc.created_at.iso8601 : nil}
/           .b-doc__breadcrumbs
/             %div.inline{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
/               = link_to root_path, {itemprop: "url"} do
/                 %span{itemprop: "title"}= t('.main')
/             →
/             %div.inline{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
/               - if @doc
/                 = link_to "/#{@global_rubric.url}", {itemprop: "url"} do
/                   %span{itemprop: "title"}= @global_rubric.title
/               - elsif @event
/                 = link_to '/afisha', {itemprop: "url"} do
/                   %span{itemprop: "title"}= 'Афиша'
/             →
/             %div.inline{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
/               - if @doc
/                 = link_to @doc.rubric.url, {itemprop: "url"} do
/                   %span{itemprop: "title"}= @doc.rubric.title
/               - elsif @event
/                 = link_to @event.rubric.url, {itemprop: "url"} do
/                   %span{itemprop: "title"}= @event.rubric.title
/             →
/             %div.inline{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
/               %span{itemprop: "title"}= doc.title

/           %h1.b-doc__title{itemprop: "headline"}= doc.title
/           = render partial: 'templates/dynamic/doc_aux_inline', locals: {doc: doc}
/           - unless params[:preview_secret]
/             .share-block-top
/               = render partial: 'templates/dynamic/doc_share_block', locals: { doc: doc }
/           .b-doc__annotation{itemprop: "description"}
/             = doc.annotation

/           - if doc.main_photo
/             .source= "Фото: #{doc.main_photo.title}" if doc.main_photo.title.present?
/             .b-doc__mainphoto
/               = image_tag doc.main_photo.image.url(:xxlarge), size: '610x415', alt: doc.title, title: doc.title, class: 'cover', itemprop: "image" if doc.main_photo.present?
/           - if controller_name == 'afisha'
/             .b-event__info
/               - if doc.place.present?
/                 .b-event__info-item>
/                   .item__title Место:
/                   .item__content= doc.place
/               - if doc.start_date.present?
/                 .b-event__info-item>
/                   .item__title Время:
/                   .item__content
/                     = "#{doc.start_date.strftime('%d.%m.%Y')}"
/                     = "#{doc.start_date.strftime('%H:%M')}" if doc.show_time
/                     - if doc.start_date.to_date != doc.finish_date.to_date
/                       = " - "
/                       = "#{doc.finish_date.strftime('%d.%m.%Y')}"
/                       = "#{doc.finish_date.strftime('%H:%M')}" if doc.show_time
/               - if doc.address.present?
/                 .b-event__info-item>
/                   .item__title Адрес:
/                   .item__content= doc.address
/               - if doc.price.present?
/                 .b-event__info-item>
/                   .item__title Стоимость:
/                   .item__content
/                     = doc.price
/               - if doc.site_url.present?
/                 .b-event__info-item>
/                   .item__title Сайт:
/                   .item__content= link_to doc.site_url, doc.site_url, :rel => 'nofollow'
/               - if doc.promote_link.present?
/                 .b-event__info-item>
/                   = link_to 'Купить билеты', doc.promote_link, class: 'g-button primary'

/           %div{itemprop: "articleBody"}
/             = article_text(doc)

/       - if (banner = ad_code('doc_text_bottom')).present?
/         .l-cols.banner-doc-text-bottom
/           = banner.html_safe

/       .l-cols
/         .b-doc__socials
/           .l-cols-2.l-l
/             .g-subheader.mini= t('.social_links')
/           .l-cols-7.l-l
/             - unless params[:preview_secret]
/               = render partial: 'templates/dynamic/doc_share_block', locals: { doc: doc }
/       .l-cols
/         .b-doc__tags
/           .l-cols-2.l-l
/             .g-subheader.mini= t('.themes')
/           .l-cols-7.l-l
/             = render partial: 'shared/tags_colored', locals: {doc: doc}

/       - if doc.similar_docs.any?
/         = render partial: 'shared/relevant', locals: {doc: doc}

/       - if [Doc, Event].include?(doc.class)
/         .g-comments-wrapper.js-comments{data:{class: doc.class, id: doc.id}}
/           = render 'comments/comment_form_full', doc: doc, visible: doc.class == 'Question'

/       - if (banner = ad_code('doc_text_bottom')).present?
/         .l-cols.banner-doc-text-bottom
/           = banner.html_safe

/       - if doc.is_a?(Doc) && doc.similar_docs.present?
/         .b-doc__last-news
/           .g-subheader.g-subheader__last-news Последние новости:
/           = render partial: 'news/news_list'

/       - if doc.is_a?(Event)
/         .b-doc__last-news
/           .g-subheader.g-subheader__last-news Ближайшие события:
/         = render partial: 'afisha/events_list'

/ = seo_text @seo
