.l-wrapper
  %aside.l-section__aside
    = render 'shared/adv-aside'
    = render 'latest_events'

  %div.l-section__main.js-loaderByDate
    .l-row.newslist__head
      .l-cols-5.l-l
        .g-subheader.g-subheader__last-news
          = @rubric ? @rubric.title : 'Ближайшие события'

      .l-cols-4.l-l
        - if logged_in?
          = link_to "Добавить событие", 'javascript:;', data: {link: '/afisha/new'}, class: "l-r g-button primary seo-link"
        - else
          = link_to "Добавить событие", 'javascript:;', data: {link: new_session_path}, class: "l-r g-button primary seo-link js-jump"
        .l-r
          = render 'dates'
    .clearfix

  %div.l-section__main
    - if @events.present?
      = render partial: 'events_list', object: @events
      .g-loader
        = will_paginate @events
    - else
      .b-box Нет информации.
= seo_text @seo
