<div class="l-page__columns-line">
  <aside class="l-page__column left">
    <%= render 'account/templates/blocks/left' %>
  </aside>
  <section class="l-page__column right">
    <div class='b-rubric-title'>Изменение пароля</div>
    <div class='g-box'>
      <table>
        <tr>
          <td height=3></td>
        </tr>
        <tr>
          <td>
            <%= form_for :user, url: user_update_password_url(@user.subdomain), html: {name: "reg_form", id: "reg_form"} do |f| -%>
              <%= error_messages_for :user %>
              <table width=360 border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width=360>
                    <table width=360 border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td colspan=4 height=3></td>
                      </tr>
                      <tr>
                        <td width=120>Старый пароль:</td>
                        <td width=2 bgcolor=red></td>
                        <td width=5></td>
                        <td width=220 style="text-align: left;">
                          <%= password_field_tag :old_password, '', style: "width: 220px;" %>
                        </td>
                      </tr>
                      <tr>
                        <td colspan=4 height=3></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height=3 bgcolor=white></td>
                </tr>
                <tr>
                  <td width=360>
                    <table width=360 border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td colspan=4 height=3></td>
                      </tr>
                      <tr>
                        <td width=120>Новый пароль:</td>
                        <td width=2 bgcolor=red></td>
                        <td width=5></td>
                        <td width=220 style="text-align: left;">
                          <%= f.password_field :password, style: "width: 220px;" %>
                        </td>
                      </tr>
                      <tr>
                        <td colspan=4 height=3></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height=3 bgcolor=white></td>
                </tr>
                <tr>
                  <td width=360>
                    <table width=360 border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td colspan=4 height=3></td>
                      </tr>
                      <tr>
                        <td width=120>Повторите пароль:</td>
                        <td width=2 bgcolor=red></td>
                        <td width=5></td>
                        <td width=220 style="text-align: left;">
                          <%= f.password_field :password_confirmation, style: "width: 220px;" %>
                        </td>
                      </tr>
                      <tr>
                        <td colspan=4 height=3></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height=20 bgcolor=white></td>
                </tr>
                <tr>
                  <td>
                    <table width=100% border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="text-align: right;"><br><%= submit_tag 'Сохранить' %></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </section>
</div>
