.well
  %h3 Поиск
  #search_form
    = simple_form_for @search, :url => admin_users_path, class: 'form-horizontal' do |form|
      .control-group
        .controls
          = form.input :id_eq, :required => false
        .controls
          = form.input :ban_eq, :required => false, :as => :radio_buttons
        .controls
          = form.input :subdomain_like, :required => false
        .controls
          = form.button :submit, 'Найти', class: 'btn'
