= form_for [@category, @community], html: {class: 'b-form', multipart: true} do |f|
  = error_messages_for :community

  .b-form__row
    = f.label :category_id, 'Категория'
    = f.select :category_id, Category.all.map {|c| [c.name, c.id]}, {}, {class: 'b-form__control select'}

  .b-form__row
    = f.label :name, 'Название'
    = f.text_field :name, class: 'b-form__control input wide'

  .b-form__row
    = f.label :logo, 'Логотип'
    = f.file_field :logo, class: ''

  .b-form__row
    = f.label :description, 'Описание'
    = f.text_area :description, class: 'b-form__control textarea'

  .b-form__row
    = f.label :rules, 'Правила'
    = f.text_area :rules, class: 'b-form__control textarea'

  .b-form__row
    = f.label :open, 'Открытая группа'
    = f.check_box :open

  
  = f.submit 'Сохранить', class: 'g-button medium primary'
