%span.new-special-projects  
  = link_to 'Авторадио', '#', data: {link: 'http://avtoradio.36on.ru'}, class: 'seo-link'
  = link_to 'Юмор ФМ', '#', data: {link: 'http://veseloeradio.36on.ru'}, class: 'seo-link'  
  = link_to 'Раменки', 'http://ramenki.36on.ru/', class: 'yellow', target: '_blank' 
  = link_to 'День рождения', 'http://happyb.36on.ru/', target: '_blank'     
  = link_to 'Еда', 'http://eda.36on.ru/', class: 'yellow', target: '_blank' 
  = link_to 'Свадьба', 'http://svadba.36on.ru/', target: '_blank'
  = link_to 'Фитнес', 'http://36on.ru/health/life-style/36943-zdorovie-i-fitnes', target: '_blank', class: 'yellow'
  = link_to 'Развлечения', 'http://36on.ru/magazine/style/36546-vse-razvlecheniya-voronezha', target: '_blank', class: 'yellow'
